@{
    ViewData["Title"] = "Password Game by Bug Busters";
}

<div class="text-center">
    <h1 class="display-4">Придумай пароль!</h1>
    <br />
    <form>
        <div id="app">
                <input type="text" v-model="password" placeholder="Введите свой пароль сюда">
            <div v-for="rule in rulesStatus" >
                <p v-if="rule.statusNow==true & rule.statusComplete==true & rule.rule==1 "><span class="text-success">Ваш пароль должен иметь по крайней мере 5 символов</span></p>
                <p v-else-if="rule.rule==1" ><span class="text-danger">Ваш пароль должен иметь по крайней мере 5 символов</span></p>

            </div>
            <div>{{password}}</div>
        </div>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
